[Unit]
Description=NVML Undervolt
Wants=multi-user.target
After=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/sbin/nvml-undervolt --env /etc/nvml-undervolt.conf
Restart=on-failure
RestartSec=5
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
