[Unit]
Description=NVML Fan Curve
Wants=multi-user.target
After=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/sbin/nvml-fan-curve --env /etc/nvml-fan-curve.conf
Restart=on-failure
RestartSec=5
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
